html,
  body {
    margin: auto;
    width: 800px;
    height: 100%;
    background: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3em;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-size: 0.8em;
}

canvas {
  width: 800px;
  height: 700px;
}

.header {
  position: relative;
}

button {
  background-color: paleturquoise;
  border: 1px solid darkturquoise;
  color: black;
  padding: 3px 5px;
  text-align: center;
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

button:hover {
  background-color: darkturquoise;
}

a {
  color: gray;
  font-weight: normal;
}

a:hover {
  color: darkturquoise;
}
